html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav {
  background-color: blue;
}

#nav1 {
  background-color: green;
}

.bg {
  background-image: url("pic1.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1000;
}
